@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

/* 
html {
  background: #01012a;
  color: #33def4;
} */

.loading {
  z-index: 9999;
  background: #01012a;
  color: #33def4;
  text-align: center;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.8s 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06),
    visibility 0.8s 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading-container {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.counter {
  padding: 0.8rem;
  transform: translate(0, 0);
}

.counter.loaded {
  animation: counter-animation 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.8s
    1 normal forwards running;
}

.line {
  position: absolute;
  background: #03e2e7;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
}

.line.loaded {
  animation: line-animation 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s 1
    normal forwards running;
}

@keyframes counter-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10%);
  }
}

@keyframes line-animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
