@media (max-width: 768px) {
  #hero-image {
    width: 90% !important;
  }
  #middle-text {
    max-width: 100% !important;
  }
  #faq-text {
    max-width: 80%;
  }
}

.custom-shape-divider-top-1697218879 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1697218879 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 120px;
}

.custom-shape-divider-top-1697218879 .shape-fill {
  fill: #600069;
}
