@media (max-width: 768px) {
  #hero-image {
    width: 90% !important;
  }
}

.custom-shape-divider-top-1697218879 .shape-fill {
  fill: #600069;
}

.container {
  width: 50%;
}

i {
  font-style: normal;
  position: relative;
  top: var(--headingSize);
}

@media screen and (max-width: 1000px) {
  /* .container {
    width: auto;
    margin: 0 8%;
  } */

  :root {
    --headingSize: 35px;
  }
}
