.animated-text-main {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: rgb(239, 227, 227);
  /* text-shadow: .1em .1em 0 hsl(273, 45%, 50%); */
}

.animated-space {
  display: inline-block;
  width: 1ch;
  /* Adjust the width as needed */
}

@keyframes scale {
  100% {
    transform: scale(1.2);
  }
}

.animated-text {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
